/* 아이콘 */
@import '@fortawesome/fontawesome-free/css/all.min.css';


body {
  background-image: url('./images/DSB_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 1000px; */
}
html{
  height: 1080px;
}
