body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, '나눔하나손글씨', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "나눔하나손글씨";
  src: url("./fonts/나눔손글씨\ 하나손글씨.TTF");
}