.inputscore{
  height: 100%;
  width: 30%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.inputscore_box{
  width: 90%;
  height: 90%;
  /* border: 1px solid red; */
}

.top{
  width: 100%;
  height: 15%;
  border: 1px solid purple;
}

.mid{
  width: 100%;
  height: 70%;
}
.input_box{
  width: 100%;
  height: 100%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* align-items: center; */
  /* justify-content: space-around; */
}

.input_box button {
  width: 30%;
  align-self: center;
  margin-top: 20px;
}

.table_header{
  width: 100%;
  height: 30px;
  /* background-color: blue; */
}

.bottom{
  width: 100%;
  height: 15%;
  border: 1px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* outBox */
.outscore{
  height: 100%;
  width: 70%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.outscore_box{
  width: 95%;
  height: 90%;
  border: 1px solid red;
}

.average_box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
}
.grade_box{
  margin-top:30px;
  width: 50%;
  height: 200px;
  border: 1px solid black;
}