/* 임시방편 서버시간(그냥 글자) */
b {
    display: block;
    text-align: center;
    color: #E65454;
    font-size: 30px;
    opacity: 0.6;
    margin-top: 30px;
}

/* 수강 신청 하러 가기 버튼 */
.enrolment_btn {
    /* 버튼 css*/
    width: 200px;
    height: 30px;
    display: block;
    margin: 0 auto;
    border: 0;
    background-color: rgba(520, 149, 149, 0.6);
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    /* 글자 css*/
    font-size: 20px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 1);
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3개의 열로 나열 */
    gap: 20px; /* 이미지 간격 설정 */
  }
  
.image-container img {
    display: block;
    margin: 0 auto;
    width: 90%; /* 이미지 너비 100% */
    height: auto; /* 이미지 높이 자동 조정 */
    border-radius: 10px;
}