
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;
  background-image: url('../images/DSB_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.login_card {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgb(61, 61, 61); /* 그림자 설정 */
  background-color: white;
}

.login_card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.DSB_logo{
  width: 150px;
  height:70px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.login_card .input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: '나눔하나손글씨';
  font-size: 20px;
}

.check-box{
  font-size: 20px;
}

#checkbox1 {
  width: 15px;
  height: 15px;
}

.sign_up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign_up_member, .find_info {
  cursor: pointer;
  margin: 5px;
}

.loginBtn[type="button"] {
  width: 300px;
  height: 35px;
  padding: 1px;
  background-color: #FA9595;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  opacity: 0.7;
}

.loginBtn[type="button"]:hover {
  background-color: #FF5656;
}

.login_link{
  text-decoration: none;
  font-size: 20px;
}