.main_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1980px;
  min-width: 1280px;
  height: 100%;
}

.first{
  margin: 10px;
  width: 15%;
  height: 120px;
  border: solid black 1px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.login_box1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.login_box1 input {
  width: 80%;
  margin-bottom: 5px; /* 선택적으로 간격을 조정할 수 있음 */
}

.login_button{
  margin-top: 10%;
  width: 180px;
  height: 35px;
  font-size: 30px;
  border-radius: 5px;
  border: none;
  color: white;
  opacity: 0.6;
}

.login_box2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  white-space: nowrap;
}

.user_info p {
  font-size: 28px;
  text-align: center;
}

.logout_button{
  text-align: center;
  margin-left: 25%;
  width: 100px;
  height: 30px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  color: white;
  opacity: 0.6;
}

.join{
  width: 75px;
  height: 25px;
  border-radius: 2px;
  border: none;
  opacity: 0.6;
}

.findAccount{
  width: 115px;
  height: 25px;
  border-radius: 2px;
  border: none;
  opacity: 0.6;
}

.join > .login_link{
  font-size: 18px;
  color: white;
}

.findAccount > .login_link{
  font-size: 18px;
  color: white;
}

/* ================================================================= */

.middle{
  width: 60%;
  margin: 10px;
}

.banner {
  height: 350px;
  border: solid #7A3E12 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  position: relative;
  overflow: hidden; /* 추가: 슬라이드들이 영역을 넘지 않도록 함 */
  background: url('../images/background.jpg') no-repeat center center; /* 배경 이미지 설정 */
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 900px;
  height: 250px;
  border-radius: 10px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.sub_header{
  color: black;
  margin: 5px auto;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.sub_name{
  padding:5px;
  font-size: 28px;
}

.list_box {
  /* margin: 10px 50px; */
  height: 400px;
  /* width: 1000px; */
  /* border: solid black 1px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  flex-direction: row;
}

.list_item {
  margin: 15px;
  width: 16%;
  height: 160px;
  border: solid black 1px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 기본 배경 색상 및 기타 스타일 */
  background-color: rgb(255, 255, 255); /* 기본 배경 색상 */
  transition: 1s;
}

.side {
  width: 10%;
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100%;            
  padding: 20px;           
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
}
