.main_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1980px;
  min-width: 1280px;
  height: 100%;
}

.first{
  margin: 10px;
  width: 15%;
  height: 120px;
  border: solid black 1px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.login_box1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.login_box1 input {
  width: 80%;
  margin-bottom: 5px; /* 선택적으로 간격을 조정할 수 있음 */
}

.login_button{
  margin-top: 10%;
  width: 180px;
  height: 30px;
  font-size: 32px;
  border-radius: 5px;
  border: none;
  color: white;
  opacity: 0.6;
}

.login_box2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  white-space: nowrap;
}

.join{
  width: 65px;
  height: 20px;
  border-radius: 2px;
  border: none;
  opacity: 0.6;

}

.findAccount{
  width: 115px;
  height: 20px;
  border-radius: 2px;
  border: none;
  opacity: 0.6;
}

.join > .login_link{
  font-size: 18px;
  color: white;
}

.findAccount > .login_link{
  font-size: 18px;
  color: white;
}

/* ================================================================= */

.middle{
  width: 70%;
  margin: 10px;
}

.banner {
  height: 400px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.sub_header{
  color: black;
  margin: 5px auto;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.sub_name{
  padding:5px;
  font-size: 36px;
}

.list_box {
  /* margin: 10px 50px; */
  height: 400px;
  /* width: 1000px; */
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  flex-direction: row;
}

.list_item {
  margin: 15px;
  width: 16%;
  height: 160px;
  border: solid black 1px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 기본 배경 색상 및 기타 스타일 */
  background-color: rgb(255, 255, 255); /* 기본 배경 색상 */
  transition: 1s;
}

/* ================================================================= */

.side{
  margin: 10px;
  width: 15%;
  height: 700px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}