.main_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1980px;
  min-width: 1280px;
  height: 100%;
}

.first{
  margin: 10px;
  width: 15%;
  height: 120px;
  border: solid black 1px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.login_box1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.login_box1 input {
  width: 80%;
  margin-bottom: 5px; /* 선택적으로 간격을 조정할 수 있음 */
}

.login_button{
  width: 200px;
  height: 40px;
}

.login_box2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  white-space: nowrap;
}

/* ================================================================= */

.middle{
  width: 70%;
  margin: 10px;
}

.sub_header{
  color: black;
  /* margin: 5px auto; */
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black
}

.sub_name{
  padding:5px;
}

.list_box {
  /* margin: 10px 50px; */
  height: 100%;
  /* width: 1000px; */
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  flex-direction: row;
}

.list_item {
  margin: 15px;
  width: 16%;
  height: 160px;
  border: solid black 3px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 기본 배경 색상 및 기타 스타일 */
  background-color: rgb(255, 255, 255); /* 기본 배경 색상 */
  /* transition: 1s; */
}

.list_item:hover{
  /* border: 3px solid red; */
  box-shadow: 0 0 5px 5px black;
}

/* modal=================================== */

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: rgb(145, 83, 83);
  width: 80%;
  height: 80%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.main_post_box{
  width: 68%;
  margin: 0 auto;
  /* padding: 20px; */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.postdata{
  padding: 10px;
}

/* comment 댓글창 */
.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  /* height: 800px; 최소 높이를 설정합니다. */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}


.comment-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.comment-list {
  width: 100%;
  max-height: 600px; /* 최대 높이를 설정합니다. */
  overflow-y: auto; /* 내용이 넘칠 때 수직 스크롤바를 표시합니다. */
  margin-bottom: 20px;
}

.comment {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-form {
  width: 100%;
  margin-top: auto; /* 이 부분이 추가됩니다. */
  display: flex;
}

.comment-form textarea {
  width: 100%;
  height: 50px;
  /* padding: 10px;
  margin-bottom: 10px; */
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
}

.comment-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #0056b3;
}


/* ================================================================= */

.side{
  margin: 10px;
  width: 15%;
  height: 700px;
  border: solid black 1px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}